@use "../colors.scss";

$width-sidebar: 300px; //Required

.sidebar {
  button, input, label { all: unset }

  z-index: 2;
  background-color: colors.$sidebar-background;
  display: flex; //Required
  flex-direction: column; //Required
  height: 100%; //Required
  position: absolute; //Required
  top: 0px; //Required
  transition: right 0.3s, left 0.4s ease-in-out;
  width: $width-sidebar; //Required
}

.sidebar.left {left: -$width-sidebar} //required - left sidebar
.sidebar.open.left {left: 0} //Required - left sidebar

.sidebar-section-top {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  h2 {
    all: unset;
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 700;
  }
  
  i {
    cursor: pointer;
    font-size: 1.5em;
    margin: auto 0;
    padding: 2px 5px;
    
    &:hover {
      text-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.3);
    }
  }
}

.sidebar-section-container {
  color: colors.$sidebar-font-color;
  font-size: 1rem;

  button {
    cursor: pointer;
    width: calc(100% - 2em);
    font-size: 1em;
    padding: 0.5em 1em;
    border-bottom: 1px colors.$sidebar-button-separator solid;
    transition: background-color 0.2s;

    &:hover {
      background-color: colors.$sidebar-btn-background-hover;
    }
  }

  .last-button {
    border-bottom: none;
  }
  
  .select-button {
    background-color: colors.$sidebar-btn-background-select;
  }

  hr {
    border: 1px colors.$sidebar-separator solid;
  }
}