@use "../../colors.scss";

.form-product {
    cursor: default;
    background-color: colors.$form-background;
    border-radius: 0.9rem;
    color: colors.$text-color;
    display: flex;
    flex-direction: column;
    font-size: 1.16rem;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 2rem 1.6rem;
    width: 400px;

    .title-form {
        font-family: Montserrat, Poppins, "Open Sans", Roboto , Calibri, Arial, Helvetica, sans-serif;
        margin: 0 0 0.6rem;
        color: colors.$text-title-color;
    }
    
    .footer-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    @media (min-width: 0) and (max-width: 500px) {
        width: calc(100% - 4rem);
    }
}