@keyframes animation-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    animation: animation-rotation infinite 1s linear;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}