// CARDS COLORS
$card-border-color: rgb(241, 241, 241);

// Description
$card-color-text-first:         rgb(24, 24, 24);
$card-color-text-secondary:     rgb(187, 187, 187);

// Button edit|delete
$card-background-btn:           rgb(240, 240, 240);
$card-color-btn:                rgb(187, 187, 187);
$card-border-btn:               rgb(230, 230, 230);

// Button Amount
$card-background-btn-amount:    rgb(230, 230, 230);
$card-color-btn-amount:         rgb(80, 80, 80);
$card-color-btn-arrow-amount:   rgb(170, 170, 170);