// CARDS COLORS
$card-border-color: rgb(241, 241, 241);

// Description
$card-color-text-first:         rgb(24, 24, 24);
$card-color-text-secondary:     rgb(187, 187, 187);

// Button edit|delete
$card-background-btn:           rgb(248, 248, 248);
$card-color-btn:                rgb(212, 212, 212);
$card-border-btn:               rgb(240, 240, 240);

// Button Amount
$card-background-btn-amount:    rgb(248, 248, 248);
$card-color-btn-amount:         rgb(80, 80, 80);
$card-color-btn-arrow-amount:   rgb(212, 212, 212);