@use "../colors.scss";

.form-product {
    cursor: default;
    background-color: colors.$form-background;
    border-radius: 0.9rem;
    color: colors.$text-color;
    display: flex;
    flex-direction: column;
    font-size: 1.16rem;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 2rem 1.6rem;
    width: 400px;

    .title-form {
        font-family: Montserrat, Poppins, "Open Sans", Roboto , Calibri, Arial, Helvetica, sans-serif;
        margin: 0 0 0.6rem;
        color: colors.$text-title-color;
    }
    
    .content-form {}
    
    .footer-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .text-warning {
            color: colors.$text-warning-color;
            margin: auto 0;
            margin-right: 0.7rem;
        }
    }

    @media (min-width: 0) and (max-width: 500px) {
        width: calc(100% - 4rem);
    }
}


@keyframes animation-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    animation: animation-rotation infinite 1s linear;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}